<form [formGroup]="dialogboxform">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">WorkLog</h4>
      <button
        [mat-dialog-close]="false"
        mat-icon-button
        style="float: right; margin-right: 5px"
      >
        <mat-icon>cancel</mat-icon>
      </button>
    </div>

    <mat-dialog-content>
      <div *ngIf="showWorkLogError" class="success-message">
        <app-error-message
          [showError]="showWorkLogError"
          [errorMessage]="workLogErrorMessage"
        ></app-error-message>
      </div>
      <div *ngIf="showWorkLogSuccess" class="success-message">
        <app-error-message
          [showSuccess]="showWorkLogSuccess"
          [successMessage]="workLogSuccessMessage"
        ></app-error-message>
      </div>

      <div class="form_field_one">
        <div class="flex-container">
          <div class="label-container">
            <label class="content_title">WorkItemName:</label>
          </div>
          <div class="content">
            <mat-form-field appearance="fill" class="full-width">
              <input
                matInput
                placeholder=""
                readonly
                formControlName="workItemName"
              />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="form_field_one">
        <div class="flex-container">
          <div class="label-container">
            <label class="content_title">WorkDoneBy:</label>
          </div>
          <div class="content">
            <mat-form-field appearance="fill" class="full-width">
              <input
                matInput
                placeholder=""
                readonly
                formControlName="workDoneBy"
              />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="form_field_three">
        <div class="flex-container">
          <div class="label-container">
            <label class="">WorkDoneOn:</label>
          </div>
          <div class="content">
            <mat-form-field appearance="outline">
              <mat-label>Choose a date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="formattedWorkDoneOn"
              />

              <mat-datepicker-toggle matIconSuffix [for]="picker">
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="form_field_four">
        <div class="flex-container">
          <div class="label-container">
            <label class="">WorkTime:</label>
          </div>
          <div class="WorkDonecontent">
            <div class="left_content">
              <mat-form-field appearance="outline">
                <mat-label>Hours</mat-label>
                <input
                  matInput
                  placeholder="Placeholder"
                  type="number"
                  [value]="0"
                  (input)="
                    limitHours($event);
                    updateProgress();
                    updateRemainingHours($event);
                    switchToUpdatedRemainingHours();
                    updateTotalWork($event);
                    switchToUpdateTotalWorkDone()
                  "
                  formControlName="workTime"
                />
              </mat-form-field>
            </div>
            <div class="right_content">
              <mat-form-field
                appearance="outline"
                class="form-field-with-suffix"
              >
                <mat-label>Minutes</mat-label>
                <select
                  matNativeControl
                  (change)="
                    selectMinutes($event);
                    updateProgress();
                    updateRemainingHours($event);
                    switchToUpdatedRemainingHours();
                    updateTotalWork($event);
                    switchToUpdateTotalWorkDone()
                  "
                  formControlName="selectedMinutes"
                >
                  <option value=""></option>
                  <option
                    *ngFor="let option of minutes"
                    [value]="option.value"
                    [selected]="selectedMinutes === option.value"
                  >
                    {{ option.viewValue }}
                  </option>
                </select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="form_field_five">
        <div class="flex-container">
          <div class="label-container">
            <label class="content_title">Description:</label>
          </div>
          <div class="content">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label></mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form_field_six" *ngIf="data.showFields ?? true">
        <div class="flex-container">
          <div class="label-container">
            <label class="content_title"></label>
          </div>
          <div class="content">
            <section class="example-section">
              <mat-checkbox class="example-margin" (change)="toggleButton()">
                <span>Update Remaining Est</span>
              </mat-checkbox>
            </section>
          </div>
        </div>
      </div>
      <div class="form_field_seven" *ngIf="data.showFields ?? true">
        <div class="flex-container">
          <div class="label-container">
            <label class=""></label>
          </div>
          <div class="WorkDonecontent">
            <div class="left_content">
              <mat-form-field appearance="outline">
                <mat-label>Hours</mat-label>
                <input
                  matInput
                  placeholder="Placeholder"
                  type="number"
                  [value]="0"
                  (input)="
                    limitUpdateHours($event);
                    updateReaminingProgress();
                    updateupdateRemainingHours($event);
                    switchToUpdatedupadteRemainingHours();
                    updateReamingTotalWork($event);
                    switchToUpdateupdatedTotalWorkDone()
                  "
                  formControlName="workTime2"
                  [disabled]="!this.update"
                />
              </mat-form-field>
            </div>
            <div class="right_content">
              <mat-form-field
                appearance="outline"
                class="form-field-with-suffix"
              >
                <mat-label>Minutes</mat-label>
                <select
                  matNativeControl
                  (change)="
                    selectMinutesUpdate($event);
                    updateReaminingProgress();
                    updateupdateRemainingHours($event);
                    switchToUpdatedupadteRemainingHours();
                    updateReamingTotalWork($event);
                    switchToUpdateupdatedTotalWorkDone()
                  "
                  formControlName="selectedMinutes2"
                  [disabled]="!this.update"
                >
                  <option value=""></option>
                  <option
                    *ngFor="let option of minutes"
                    [value]="option.value"
                    [selected]="selectedMinutesUpdate === option.value"
                  >
                    {{ option.viewValue }}
                  </option>
                </select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="form_field_eight" *ngIf="data.showFields ?? true">
        <div class="flex-container">
          <div class="label-container">
            <div class="original_est">
              <div>Original Est</div>
              <div>{{ data.originalEst }} hrs</div>
            </div>
          </div>
          <div class="label-container">
            <div class="remaining_hrs">
              <div class="original_est">
                <div>Remaining Hours</div>
                <div *ngIf="!showUpdatedRemainingHours">
                  {{ initialRemainingHours }} hrs
                </div>
                <div *ngIf="showUpdatedRemainingHours">
                  {{ updatedRemainingHours }} hrs
                </div>
              </div>
            </div>
          </div>
          <div class="label-container">
            <div class="total_work_done">
              <div class="original_est">
                <div>Total Workdone</div>
                <div *ngIf="!showUpdatedWorkDone">00.00 hrs</div>
                <div *ngIf="showUpdatedWorkDone">
                  {{ updatedTotalWorkDone }} hrs
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form_field_nine" *ngIf="data.showFields ?? true">
        <div class="">
          <div class="label-container">
            <div class="progressinputvalue">
              <label for="inputValue">Enter Value:</label>
              <input
                type="number"
                id="inputValue"
                formControlName="inputValue"
                [value]="progressValue"
                (input)="updateProgress()"
              />
            </div>
            <div class="progress" [ngClass]="progressClass(progressValue)">
              <span class="" [ngClass]="progressValue > 0 ? 'd-none' : ''"
                >0.00%</span
              >
              <div
                class="progress-bar"
                [style.width.%]="progressValue"
                [style.backgroundColor]="
                  progressValue === 100 ? '#428bca' : '#428bca'
                "
              >
                {{ progressValue === 0 ? "0%" : progressValue + "%" }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-divider class="divider"></mat-divider>

    <div class="footer">
      <button
        class="save-btn"
        type="submit"
        mat-raised-button
        color="primary"
        *ngIf="data.showFields ?? true"
        (click)="AddWorkLog()"
      >
        <mat-icon>print</mat-icon>
        Save
      </button>

      <button class="save-btn" type="submit" mat-raised-button color="primary" *ngIf="(data.showFields == null) ? false : true" (click)="UpdateWorkLogHistory()">
        <mat-icon>print</mat-icon>
        Update
      </button>

      <button
        class="close-btn"
        mat-raised-button
        color="primary"
        (click)="CloseWorkLog()"
      >
        <mat-icon>cancel</mat-icon>Close
      </button>
    </div>
  </div>
</form>
