.AllCollapseDiv {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 20px;
}
.ic18 {
    background-position: -18px -144px !important;
  }
  
  .breadcrums_display
  {
    font-size: 13px;
    padding-top: 11px;
    display: flex;
  }
  .WorkSpace_breadcrum
  {
   font-size: 13px;
   color: rgb(51,51,51);
   font-family: "Segoe UI",arial,tahoma;
   font-weight: 400; 
   font-style: normal;
   white-space: nowrap;
   text-align: left;
  }
  .breadcrum_content {
    display: flex; 
    align-items: center; 
  }
  
  .WorkSpace_breadcrum {
    margin-right: 5px; 
  }
  
  .breadcrumb-separator {
    padding: 0 5px;
        font-size: 17px;
  }
  .link_breadcrum {
    color: #999999;
    text-decoration: none;
    font-size: 13px;
    font-family: "Segoe UI",arial,tahoma;
    font-weight: 400; 
    font-style: normal;
    white-space: nowrap;
    text-align: left;
    cursor: pointer;
  
  
  }
  
  .navic {
    background: url(src\assets\ic-leftnav.png) 0px 0px no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 6px;
    vertical-align: -4px;
  }
  .search-btn
{
    width: 110px;
    height: 35px;
    border-radius: 0%;
    background: #208fc8 !important;
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial,tahoma;
    font-weight: 400;
    color:white;
    padding: 10px 10px;
    cursor: pointer;

    
}
.heading_top {
    height: 6vh;
    background-color: white;
    border-bottom: 4px solid #208fc8;
    padding-top: 13px;
    color: black;
    font-family: "Segoe UI", "SegoeUINormal", arial;
    font-size: 22px;
    color: #333;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.workoption-btn
{
    margin: 2px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #CCC;
    width: fit-content;
    height: 35px;
    border-radius: 0%;
    font-size: 14px;
    font-family: 'Segoe UI', Arial,tahoma;
    font-weight: 400;
    align-items: flex-start;
    border-top-color:  rgb(204, 204, 204);
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color:  rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color:  rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    box-sizing: border-box;
    box-shadow: none;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
    padding-top: 6px;

}
.projecttitle-btn
{
    background: #208fc8;
    border: 1px solid #208fc8;
    margin: 2px;
    color: white;
   
    width: fit-content;
    height: 35px;
    border-radius: 0%;
    font-size: 14px;
    font-family: 'Segoe UI', Arial,tahoma;
    font-weight: 400;
    align-items: flex-start;
    border-top-color:  rgb(32, 143, 200);
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color:  rgb(32, 143, 200);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color:  rgb(32, 143, 200);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(32, 143, 200);
    border-right-style: solid;
    border-right-width: 1px;
    box-sizing: border-box;
    box-shadow: none;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
    padding-top: 6px;

}
.workOptions {
    width: 100%;
    margin-top: 30px;
}
.project_title_img
{
  margin-left: 5px;
  vertical-align: -3px;
  font-size: 24px;

}
.MainprojectTitle {
    margin-top: 31px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.projecttitle
{
    color: rgb(51,51,51);
    font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.4px;
    text-size-adjust: 100%;
}
.comment-box {
    background: #FFF;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    display: block;
    box-sizing: border-box;
    color: rgb(51,51,51);
    font-family:"Segoe UI", arial,tahoma;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.5714px;
    text-size-adjust: 100%;
}
.comment_title
{
    padding: 15px 15px 0 15px;
    margin: 0;
    font-size: 14px;
}
.comment-box-content
{
    padding: 15px 15px 12px 15px;
}
.comment-icon
{
    margin: 4px;
}
.full-width
{
    width: 100%;
}
.footer
{
    background: #f9f9f9;
    padding: 15px;
    text-align: right;
    border-top: 1px solid #ccc;
  
}
.save-btn
{
    background: #208fc8;
    border: 1px solid #208fc8;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    font-family: "Segoe UI", arial, tahoma;
    font-weight: 400;
    border-radius: 0%;
}
.close-btn
{
    background-color: #e1e1e1;
    border-color: #e1e1e1;
    color: #494949 !important;
    border-radius: 0%;
    cursor: pointer;
    font-size: 14px;
    font-family: "Segoe UI", arial, tahoma;
    font-weight: 400;
    margin-left: 5px;
}
.Collapsedetailsdiv
{
    border: 1px solid #f4f4f4;
    padding: 0px;
    color: rgb(51,51,51);
    font-family: "Segoe UI", arial,tahoma;
    font-size: 13px;
    font-weight: 400;
    margin-top: 9px;
}
.Collapsedetailsdiv2
{
    border: 1px solid #f4f4f4;
    padding: 0px;
    color: rgb(51,51,51);
    font-family: "Segoe UI", arial,tahoma;
    font-size: 13px;
    font-weight: 400;
}
.Collapsedetailsdiv3,.Collapsedetailsdiv4,.Collapsedetailsdiv6
{
    border: 1px solid #f4f4f4;
    padding: 0px;
    color: rgb(51,51,51);
    font-family: "Segoe UI", arial,tahoma;
    font-size: 13px;
    font-weight: 400;
}
.subCollapse
{
margin: 0;
    padding: 8px 10px;
    background: #f4f4f4;
    position: relative;
    color: #333;
    display: flex;
    justify-content: space-between;
}
.Details
{
    padding: 0px;
    color: rgb(51,51,51);
    font-family: "Segoe UI", arial,tahoma;
    font-size: 15px;
    font-weight: 400;
}
.Details firsticon
{
    padding: 0px;
    color: rgb(51,51,51);
    font-family: "Segoe UI", arial,tahoma;
    font-size: 15px;
    font-weight: 400;
}
.WorkItemDetails
{
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 3px;
    color: rgb(51,51,51);
    font-family: "Segoe UI", arial,tahoma;
    font-size: 13px;
    font-weight: 400;
    text-size-adjust: 100%;


}
.fillWorkItemDescription,.fillWorkItemStateGraph,.fillWorkItemTabs
{
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 3px;
    color: rgb(51,51,51);
    font-family: "Segoe UI", arial,tahoma;
    font-size: 13px;
    font-weight: 400;
    text-size-adjust: 100%;
    padding: 15px;
    border-bottom: medium none !important;
    outline: none;

}
.fillWorkItemAttachment
{
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 3px;
    color: rgb(51,51,51);
    font-family: "Segoe UI", arial,tahoma;
    font-size: 13px;
    font-weight: 400;
    text-size-adjust: 100%;
    padding: 15px;
    border-bottom: medium none !important;
    outline: none;

}
.workItemDetail1
{
   
    display: flex;
    justify-content: space-between;
}

.project1_title_img
{
    margin-right: 3px;
    vertical-align: -3px;
    height: 16px;

}

.workitemleft_left
{
    color: rgb(51,51,51);
    float: left;
    font-family: "Segoe UI", arial, tahoma;
    font-size: 13px;
    font-weight: bold;
    line-height: 18.5714px;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 1px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 0px;
    padding-top: 7px;
    position: relative;
    text-align: right;
    text-size-adjust: 100%;
    width: 50%;
}
.workitemleft_right
{
    color: rgb(51,51,51);
    font-family: "Segoe UI", arial, tahoma;
    font-size: 13px;
    font-weight: 400;
    line-height: 18.5714px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 1px;
    position: relative;
    width: 50%;
 margin-top: 7px;
}
.workitemright_left
{
    color: rgb(51,51,51);
    float: left;
    font-family: "Segoe UI", arial,tahoma;
    font-size: 13px;
    font-weight: bold;
    line-height: 18.5714px;
    min-height: 1px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 0px;
    padding-top: 7px;
    position: relative;
    text-align: right;
    width: 50%;
}
.workitemright_right
{
    color: rgb(51,51,51);
    float: left;
    font-family: "Segoe UI",arial,tahoma;
    font-size: 13px;
    font-weight: 400;
    line-height: 18.5714px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
    text-align: left;
    padding-top: 7px;
  
}
.workitemleft
{
    width: 48%;
}
.workitemright{
    width: 48%;
}
.workitemleftdiv
{
    display: flex;
}
.workitemrightdiv
{
    display: flex;
}
.slide {
    max-height: 0;
    overflow: hidden;
    transition:height 3s ease;
  }
  
  .slide.show {
    max-height: 1000px; 
  }
  .firsticon
  {
    margin: 3px;
  }
  .AttachmentDiv,.WorkLogDiv
  {
    /* height: 141px; */
    border-bottom: medium none !important;
    outline: none;
    overflow: auto;
    color: rgb(51,51,51);
    font-size: 13px;
    font-family: "Segoe UI", arial, tahoma;
    font-style:normal;
    font-weight: 400;
    line-height: 18.5714px;
    text-size-adjust: 100%;
  }
  .kendo-table {
    border-collapse: collapse;
    
  }
  
  .kendo-table th,
  .kendo-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .project-cell {
    cursor: pointer;
    position: relative;
  }
  
  .project-cell.mat-icon {
    position: absolute;
    left: 8px;
  }
  
  .project-cell.expanded::before {
    content: '|';
    position: absolute;
    left: -8px;
    top: 0;
    bottom: 0;
    display: block;
    border: 1px solid #ddd;
  }
 
.kendo-table td:first-child {
    border-top: none;
  }
  
  .kendo-table td:not(:first-child) {
    border: 1px solid #ddd;
  }
  .divDetails {
    transition: all 2s ease-in-out;
    border: 1px solid #f4f4f4;
    overflow-y: auto;
}

.progress_list ul li {
    float: left;
    height: 60px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
}

.pgl_ar {
    background: rgba(0, 0, 0, 0) url(/assets/image_2023_09_26T04_27_55_309Z.png) no-repeat scroll right top;
    color: #333;
    float: left;
    font-size: 12px;
    margin-top: 7px;
    padding: 10px 15px 0 5px;
    text-align: center;
    white-space: nowrap;
}

.pgl_status {
    border-radius: 4px;
    color: #fff;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 1.3;
    margin: 0 8px;
    padding: 7px 15px 0;
}

.pgl_ar span {
    color: #999;
    display: block;
    font-size: 12px;
}
.example-tab-icon {
    margin-right: 8px;
  }
  
 .Tabs
 {
    border: 1px solid #ccc;
    min-height: 200px;

 }
 .content_tabs
{
  
    overflow-x: hidden;
    padding: 3px;
    color: rgb(51,51,51);
    font-family: "Segoe UI", arial,tahoma;
    font-size: 13px;
    font-weight: 400;
    text-size-adjust: 100%;
    padding: 15px;
    border-bottom: medium none !important;
    outline: none;

}
.content_comment
{
    will-change: 100%;
    display: flex;
    justify-content: space-between;
}
.left_comment
{
    width: 60%;
  display: flex;
  justify-content: flex-start;
    font-size: 13px;
    font-weight: 400;
    text-size-adjust: 100%;
}
.right_comment
{
    width: 20%;
   
    display: flex;
    justify-content: flex-end;
}
.comment_name
{
    font-size: x-small;
    font-style: italic;
}
.delete_comment
{
    font-size: small;
}
.maintable {
    font-size: 13px;
    color: rgb(51, 51, 51);
    font-family: 'SegoeUISemibold', Arial, sans-serif;
    font-weight: 400;
    width: 83vw;
    overflow-x: auto;
     margin-top: 10px; 
  }
  .editanddelete
  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
   
  .icon {
    font-size: 24px;
    margin-right: 8px;
    color: rgb(51, 51 ,51);
  }
  @media screen and (max-width: 670px) {
    .heading_table
    {
        padding-bottom: 140px;
    }
  }
  @media screen and (max-width: 768px) {
.left_comment,
.right_comment{
    width: 45%;
}
  }
  @media screen and (max-width: 430px) {
    .heading_table
    {
        padding-bottom: 195 px;
    }
  }