.main-whole-page{
    background-image: url("src/assets/dashbg (1).png");
    width: 99vw;
    height: 100vh;
    background-color: #444;;
}
.main-div
{
   
    width: 50vw;
    
    background: #FFF;
    padding: 9px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    position: relative;
    height:55vh;
    display: flex;
}

.carousel-container {
    position: relative; 
  }
  

  .carousel-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-70%); 
    display: flex;
    justify-content: space-between;
    color:black;
    width: 100%;
   
  }
  .mat-mdc-icon-button.mat-mdc-button-base {
    width: 24px;
    height: 40px;
    padding: 0px;
}
.carousel-left-button
{
    background-color: white;
}
  .carousel-left-button{
    background-color: aliceblue;
  }
  
  button {
    margin: 0 10px;
    font-size: 50px; 
    width: 40px; 
    height: 40px; 
  }
  

.login-images
{
    width: 99%;
    height: 100%;
    object-fit: cover;
}
.left-main-div
{
    width: 93%;
    height: 100%;
    
    position: relative;
   
}
.main-whole-div
{
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;
}
.right-main-div
{
    height: 100%;
    width: 45%;
}
.right-main-logo 
{
    display: flex;
    width: 15vw;
   padding-top: 7%;
}
.login-title
{
    display: flex;
    width: 15vw;
    justify-content: center;
    padding-top: 10px;
    flex-direction: column;
  
}
.heading
{
    font-size: 20px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial;
    font-weight: 400;
    color: rgb(114,114,114);
    margin-top: 10%;
}
.right-sub-div 
{
    width: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-content-main {
    margin-top: 6%;
}
.content{
    width: 124%;
}
.custom-form-field
{
    width: 100%;
}
.custom-form-field input
{
   width: 40%;
}
  .mat-mdc-form-field-has-icon-prefix .mat-mdc-text-field-wrapper {
    padding-left: 0;
  }
  .mdc-notched-outline {
    display: flex;
    position: absolute;
    top: 4px;
    right: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 81% !important;
    text-align: left;
    pointer-events: none;
  }
  .mat-mdc-checkbox label {
    cursor: pointer;
    font-size: 13px;
  }
  .login-down-content {
    display: flex;
    width: 124%;
    justify-content: space-between;
    align-items: center;
}
.forgot-link
{
   cursor: pointer;
   font-size: 15px;
   color: blue; 
   text-decoration: none;
}

 .login-button
  {
   margin-top: 3px;
    width: 90px;
    height: 60px;
    border-radius: 0%;
    background: #208fc8 !important;
    padding: 10px 10px;
     font-size: 18px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial,tahoma;
    font-weight: 400;
    color: rgb(225,225,225);
   
  }
  .forgot-div
  {
    width: max-content;
  }
  mat-icon.mat-icon.notranslate.placeholericon.material-icons.mat-ligature-font.mat-icon-no-color.ng-tns-c37-0 {
    padding: 6px;
}
  @media screen and (max-width: 1590px) {
    .content{
        width: 112%;
    }
    .custom-form-field
{
    width: 100%;
}
.custom-form-field input
{
   width: 50%;
}
.forgot-link
{
    font-size: 10px;
}
.signedin{
    font-size: 10px;
    margin-left: -12px;
    width: 116px;
}
.forgot-div
{
  width: 116px;
}
.login-button
{
 margin-top: 3px;
  width: 50px;
  height: 50px;
  border-radius: 0%;
  background: #208fc8 !important;
  padding: 10px 10px;
   font-size: 14px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Arial,tahoma;
  font-weight: 400;
  color: rgb(225,225,225);
 
}
.heading {
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial;
    font-weight: 400;
    color: rgb(114,114,114);
    margin-top: 10%;
}
  }
  @media screen and (max-width: 1590px) {
    .login-down-content{
        display: flex;
        width: 122%;
        margin-left: -70px;
        flex-direction: column;
    }
    .forgot-link
{
    font-size: 10px;
    margin-left: 14px;
}
  }
  @media screen and (max-width: 1196px) {
    .content{
        width: 100%;
    }
    .custom-form-field
{
    width: 90%;
}
.custom-form-field input
{
   width: 40%;
}
.plceholdername {
    font-size: 12px;
}
.placeholericon
{
    font-size: 22px;
}
.login-down-content{
    display: flex;
    width: 140%;
    margin-left: -70px;
    flex-direction: column;
}
.login-button
{
 margin-top: 3px;
  width: 30px;
  height: 30px;
  border-radius: 0%;
  background: #208fc8 !important;
  padding: 10px 10px;
   font-size: 14px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Arial,tahoma;
  font-weight: 400;
  color: rgb(225,225,225);
 
}
mat-icon.mat-icon.notranslate.placeholericon.material-icons.mat-ligature-font.mat-icon-no-color.ng-tns-c37-0 {
    padding: 0;
    font-size: 20px;

}
mat-icon.mat-icon.notranslate.placeholericon.material-icons.mat-ligature-font.mat-icon-no-color.ng-tns-c37-1 {
    padding: 0;
    font-size: 20px;
}
  .placeholericon
  {
    padding: 0;
  }
  label#mat-mdc-form-field-label-0 {
    margin-left: -25px;
}
}
@media screen and (max-width: 1196px) {
    .login-down-content{
        display: flex;
        width: 140%;
        margin-left: -54px;
        flex-direction: column;
    }
    .heading {
        font-size: 12px;
        box-sizing: border-box;
        font-family: 'Segoe UI', Arial;
        font-weight: 400;
        color: rgb(114,114,114);
        margin-top: 10%;
    }
    img {
        /* font-size: 14px; */
        width: 96px;}
}
@media screen and (max-width: 992px) {
    .carousel-container
    {
        display: none;
    }
    .right-main-div {
        height: 100%;
        width: 104%;
}
.right-sub-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.right-main-logo {
    display: flex;
    width: 46vw;
   }
   img {
    width: 141px;
    margin-top: -31px;
}
.login-title
 {
    display: flex;
    width: 47vw;
    flex-direction: column;
}
.heading{
    font-size: 20px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial;
    font-weight: 400;
    color: rgb(114,114,114);
    margin-top: 3%;
}
mat-icon.mat-icon.notranslate.placeholericon.material-icons.mat-ligature-font.mat-icon-no-color.ng-tns-c37-0 {
    padding: 2px;
    font-size: 29px;
}
mat-icon.mat-icon.notranslate.placeholericon.material-icons.mat-ligature-font.mat-icon-no-color.ng-tns-c37-1 {
    padding: 2px;
    font-size: 29px;
}
.plceholdername {
    font-size: 15px;
}
.login-down-content {
    display: flex;
    width: 91%;
    margin-left: 0px;
    flex-direction: column;
}
.login-down-content
{
    display: flex;
    width: 91%;
    margin-left: 0px;
    flex-direction: row;
}
.signedin{
    font-size: 14px;
    margin-left: -8px;
    width: 116px;
}
.forgot-div{
    width: 135px;
}
.forgot-link
{
    font-size: 14px;
    margin-left: 5px;
}
.login-button
{
 margin-top: 3px;
  width: 60px;
  height: 60px;
  border-radius: 0%;
  background: #208fc8 !important;
  padding: 10px 10px;
   font-size: 17px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Arial,tahoma;
  font-weight: 400;
  color: rgb(225,225,225);
 
}
}
@media screen and (max-width: 698px) {
    .signedin
     {
        font-size: 11px;
        margin-left: -10px;
        width: 96px;
    }
    .forgot-link
    {
        font-size: 11px;
        margin-left: 0px;
    }
    .login-button
{
 margin-top: 3px;
  width: 40px;
  height: 40px;
  border-radius: 0%;
  background: #208fc8 !important;
  padding: 10px 10px;
   font-size: 15px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Arial,tahoma;
  font-weight: 400;
  color: rgb(225,225,225);
 
}
}
@media screen and (max-width: 640px) {
    .login-down-content{
        display: flex;
        width: 43%;
        margin-left: 0px;
    flex-direction: column;
}
.forgot-link
{
    font-size: 11px;
    margin-left: 16px;
}
img{
    width: 121px;
    margin-top: -31px;
}
.heading {
    font-size: 18px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial;
    font-weight: 400;
    color: rgb(114,114,114);
    margin-top: 3%;}

}

@media screen and (max-width: 554px) {
    .signedin {
        font-size: 9px;
        margin-left: -10px;
        width: 96px;
    }
    .forgot-link {
        font-size: 10px;
        margin-left: 24px;
    }
.login-button
{
 margin-top: 3px;
  width: 30px;
  height: 30px;
  border-radius: 0%;
  background: #208fc8 !important;
  padding: 10px 10px;
   font-size: 12px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Arial,tahoma;
  font-weight: 400;
  color: rgb(225,225,225);
 
}
}


  
  
  
  
 

  
  
  